---
- name: Create transcode directory
  file:
    path: "{{ plex_transcode_disk_mnt }}"
    state: directory
    owner: "{{ media_user_uid }}"
    group: "{{ media_user_gid }}"
    mode: "{{ plex_transcode_disk_mode }}"

- name: Create mount for transcode disk
  mount:
    name: "{{ plex_transcode_disk_mnt }}"
    src: "{{ plex_transcode_disk_source }}"
    fstype: "{{ plex_transcode_disk_fstype }}"
    state: mounted
    opts: "{{ plex_transcode_disk_mnt_opts }}"
  when: plex_transcode_disk
