{% for vhost in apache_vhosts %}
<VirtualHost *:{{ vhost.serverlisten }}>
  ServerName {{ vhost.servername }}
{% if vhost.serveralias is defined %}
  ServerAlias {{ vhost.serveralias }}
{% endif %}
{% if vhost.docroot is defined %}
  DocumentRoot "{{ vhost.docroot }}"
{% endif %}
  ServerAdmin {{ vhost.serveradmin | default(www_admin_email) }}

  ErrorLog ${APACHE_LOG_DIR}/{{ vhost.servername }}_error.log
  CustomLog ${APACHE_LOG_DIR}/{{ vhost.servername }}_access.log combined

{% if vhost.docroot is defined %}
  <Directory "{{ vhost.docroot }}">
    AllowOverride {{ vhost.allow_override | default(www_allow_override) }}
    Options {{ vhost.options | default(www_options) }}
    Require all granted
  </Directory>
{% endif %}

{% if vhost.extra_parameters is defined %}
{% for line in vhost.extra_parameters[item] %}
  {{ line }}
{% endfor %}
{% endif %}

</VirtualHost>
{% endfor %}
