<IfModule mod_evasive20.c>
{% if www_dos_hash_table_size is defined and www_dos_hash_table_size != None %}
    DOSHashTableSize {{ www_dos_hash_table_size | default('3097') }}
{% endif %}
{% if www_dos_page_count is defined and www_dos_page_count != None %}
    DOSPageCount {{ www_dos_page_count | default('2') }}
{% endif %}
{% if www_dos_site_count is defined and www_dos_site_count != None %}
    DOSSiteCount {{ www_dos_site_count | default('50') }}
{% endif %}
{% if www_dos_page_interval is defined and www_dos_page_interval != None %}
    DOSPageInterval {{ www_dos_page_interval | default('1') }}
{% endif %}
{% if www_dos_site_interval is defined and www_dos_site_interval != None %}
    DOSSiteInterval {{ www_dos_site_interval | default('1') }}
{% endif %}
{% if www_dos_blocking_period is defined and www_dos_blocking_period != None %}
    DOSBlockingPeriod {{ www_dos_blocking_period | default('60') }}
{% endif %}
{% if www_dos_log_dir is defined and www_dos_log_dir != None %}
    DOSLogDir {{ www_dos_log_dir | default('/var/log/mod_evasive') }}
{% endif %}
</IfModule>