{% if www_dos_whitelist is defined and www_dos_whitelist != None %}
{% for host in www_dos_whitelist %}
DosWhitelist {{ host }}
{% endfor %}
{% endif %}

  <Directory />
{% if www_allow_override is defined and www_allow_override != None %}
    AllowOverride {{ www_allow_override | default('None') }}
{% endif %}
{% if www_options is defined and www_options != None %}
    Options {{ www_options | default('+Indexes -FollowSymLinks') }}
{% endif %}
    Require all granted
  </Directory>


{% if www_servertokens is defined and www_servertokens != None %}
ServerTokens {{ www_servertokens | default('Prod') }}
{% endif %}


{% if www_serversignature is defined and www_serversignature != None %}
ServerSignature {{ www_serversignature | default('Off') }}
{% endif %}


{% if www_traceenable is defined and www_traceenable != None %}
TraceEnable {{ www_traceenable | default('Off') }}
{% endif %}


<DirectoryMatch "/\.git">
   Require all denied
</DirectoryMatch>



Header set X-Content-Type-Options: "nosniff"
Header set X-Frame-Options: "sameorigin"